<h1>The Three Colors of the Sky</h1>

<div id="daylight">
  <div class="row">
    <div class="col-md-1"> </div>
    <div id="morning" class="col-md-3" onclick="daylightColor('morning')"> <h1>Morning</h1> </div>

    <div class="col-md-1"> </div>
    <div id="afternoon" class="col-md-3" onclick="daylightColor('afternoon')"> <h1>Afternoon</h1> </div>

    <div class="col-md-1"> </div>
    <div id="evening" class="col-md-3" onclick="daylightColor('evening')"> <h1>Evening</h1> </div>
  </div>
  
</div>
