<h1>Click Three Boxes</h1>

<div id="three-box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div id="morning" onclick="changeColor('morning')"> <h1>Morning</h1> </div>

    <div class="col-md-1"> </div>
    <div id="afternoon" onclick="changeColor('afternoon')"> <h1>Afternoon</h1> </div>

    <div class="col-md-1"> </div>
    <div id="evening" onclick="changeColor('evening')"> <h1>Evening</h1> </div>
  </div>
  
</div>
