<div class="row">
  <div class = "col-md-4 tic-tac" onClick="ticTacToe(this,1)"></div>
  <div class = "col-md-4 tic-tac" onClick="ticTacToe(this,2)"></div>
  <div class = "col-md-4 tic-tac" onClick="ticTacToe(this,3)"></div>
</div>
<div class="row">
  <div class = "col-md-4 tic-tac" onClick="ticTacToe(this,4)"></div>
  <div class = "col-md-4 tic-tac" onClick="ticTacToe(this,5)"></div>
  <div class = "col-md-4 tic-tac" onClick="ticTacToe(this,6)"></div>
</div>
<div class="row">
  <div class = "col-md-4 tic-tac" onClick="ticTacToe(this,7)"></div>
  <div class = "col-md-4 tic-tac" onClick="ticTacToe(this,8)"></div>
  <div class = "col-md-4 tic-tac" onClick="ticTacToe(this,9)"></div>
</div>
